.container {
    position: absolute;
    top: 0;
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 50px 10%;
    width: 100vw;
}


.logo--img {
    width: 400px;
    padding-top: 50px;
}
